# Ignore VS Code config
.vscode

# Coverage test output
cover/
htmlcov/
.coverage
.coverage.*

# Emacs edit files
*~
*#
.#

# Ignore log files
*.log

# Ignore caches
__pycache__
.mypy_cache

# Ignore distutils output
*.egg-info
